@page "/cutter"
@using SoundChangerBlazorServer.Services.Interfaces

<h3>Cutter</h3>

@inject CutterService CutterService;
@inject IWebHostEnvironment Environment;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@inject IAudioService AudioService;

@code {

    private AudioFile _currentFile;
    private double AudioValue = 0.0;
    private IList<AudioFile> Cutters;

    protected override async Task OnInitializedAsync()
    {
        _currentFile = await CutterService.GetCurrent();
        using (var waveReader = new WaveFileReader(_currentFile.FilePath))
        {
            _currentFile.Duration = waveReader.TotalTime;
        }

        End = _currentFile.Duration.TotalSeconds;
        Cutters = (await FileUtils.GetAllFilesContains(Environment.WebRootPath, $"{nameof(Cutter)}"))
                    .Select(x => AudioFile.Init(x))
                    .ToList();

        await base.OnInitializedAsync();  
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("GLOBAL.SetDotnetReference", DotNetObjectReference.Create(this));
        }
    }

    private void OnChangeAudioValue(IgbNumberEventArgs e)
    {
        if (e != null)
        {
            AudioValue = e.Detail;
        }
    }
    private double Start = 0;
    private double End;

    [JSInvokable]
    public async Task Cut(int startSec, int endSec)
    {
        var cutter = new AudioFile();
        _currentFile.CopyTo(cutter);
        cutter.Title += $"{nameof(Cutter)}";
        cutter.FileName += $"{nameof(Cutter)}_{startSec}_{endSec}";

        using (var reader = new WaveFileReader(_currentFile.FilePath))
        {
            var bytesPerSec = reader.WaveFormat.SampleRate * reader.WaveFormat.Channels * (reader.WaveFormat.BitsPerSample / 8);
            var startPosition = startSec * bytesPerSec;
            var endPosition = endSec * bytesPerSec;
            var length = endPosition - startPosition;

            reader.Position = startPosition;

            using (var writer = new WaveFileWriter(cutter.FilePath, reader.WaveFormat))
            {
                var buffer = new byte[reader.WaveFormat.AverageBytesPerSecond];
                int bytesRead;
                long bytesToRead = Math.Min(length, reader.Length - startPosition);

                while (bytesToRead > 0 &&
                       (bytesRead = await reader.ReadAsync(buffer, 0, (int)Math.Min(buffer.Length, bytesToRead))) > 0)
                {
                    await writer.WriteAsync(buffer, 0, bytesRead);
                    bytesToRead -= bytesRead;
                }
            }
        }
        cutter.Created = true;
        Cutters.Add(cutter);
        NavigationManager.NavigateTo($"{nameof(Cutter)}", true);
    }

    private async Task Edit(string fileName)
    {
        var file = Cutters.First(c => c.FileName == fileName);
        await AudioService.AddAudio(file);
        await AudioService.UpdateCurrentToLast();
        NavigationManager.NavigateTo("", true);
    }
}
<link href="css/RangeSlider.css" type="text/css" rel="stylesheet"/>
<audio id="player" controls src="\@_currentFile.AudioPath"></audio>
<audio id="hPlayer" src="\@_currentFile.AudioPath"></audio>
0 - @_currentFile.Duration
<div class="range_container">
    <div class="sliders_control">
        <input id="fromSlider" type="range" value="0" min="0" max="@_currentFile.Duration.TotalSeconds" />
        <input id="toSlider" type="range" value="@_currentFile.Duration.TotalSeconds" min="0" max="@_currentFile.Duration.TotalSeconds" />
    </div>
</div>
<input class="btn btn-primary w-25" type="button" id="playBut" value="Play">
<input class="btn btn-primary w-25" type="button" id="cutBut" value="Cut">

@if (Cutters.Any())
{
    <div>
        @foreach(var cutter in Cutters)
        {
            @cutter.Title
            <br />
            <audio controls src="\@cutter.AudioPath"></audio>
            <br />
            <input class="btn-primary w-25" type="button" id="editBut" @onclick="() => Edit(cutter.FileName)" value="Edit">
        }
    </div>
}
<script>
    var GLOBAL = {};
    GLOBAL.DotNetReference = null;
    GLOBAL.SetDotnetReference = function (pDotNetReference) {
        GLOBAL.DotNetReference = pDotNetReference;
    };
    var hPlayer = document.getElementById('hPlayer');
    var playBut = document.getElementById('playBut');
    var cutBut = document.getElementById('cutBut');
    var previous;
    var playback = () => {
        var startValue = document.getElementById('fromSlider').value;
        var endValue = document.getElementById('toSlider').value;
            if (hPlayer.currentTime >= endValue) {
                hPlayer.pause();
                hPlayer.currentTime = startValue;
                playBut.value = "Play";
                hPlayer.removeEventListener('timeupdate', this, true);
            }
         }

        cutBut.addEventListener('click', function () {
            var startValue = document.getElementById('fromSlider').value;
            var endValue = document.getElementById('toSlider').value;
            GLOBAL.DotNetReference.invokeMethodAsync('Cut', parseInt(startValue), parseInt(endValue));
        });
        playBut.addEventListener('click', function () {
            var startValue = document.getElementById('fromSlider').value;

            if (hPlayer.currentTime < startValue) {
                hPlayer.currentTime = startValue;
                hPlayer.removeEventListener('timeupdate', playback, true);
            }

            if (previous != startValue) {
                hPlayer.currentTime = startValue;
            }

            hPlayer.addEventListener('timeupdate', playback);
            if (hPlayer.paused) {
                hPlayer.play();
                playBut.value = "Pause";
            }
            else {
                hPlayer.pause();
                playBut.value = "Play";
                hPlayer.removeEventListener('timeupdate', playback, true);
            }
            previous = startValue;       
        }, false);



</script>
