@page "/"
@page "/{id}/{url}"
@page "/home"
@using Microsoft.AspNetCore.Identity
@using SoundChangerBlazorServer.Models.YoutubeModels;
@using SoundChangerBlazorServer.Services;
@using SoundChangerBlazorServer.Services.Interfaces;

@inject IAudioService AudioService;
@inject NavigationManager NavigationManager
@inject IYoutubeDownloader YoutubeDownloader;
 
<PageTitle>Index</PageTitle>

<script src="js/scripts.js"></script>

<div class="container">
    <div class="main-content">
        <div class="top-section">
            @if (_pData.IsAlertMessage)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 20px;font-weight:600;">
                    <strong>Fail</strong>
                    @_pData.AlertMessage
                    <button @onclick="() => _pData.IsAlertMessage = false" id="alert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <div class="file-input-container">
                <label class="file-input-label">
                    <span class="file-input-text-line">Choose file</span>
                    <InputFile class="file-input" OnChange="@FileInput" />
                </label>
            </div>

            <div class="or-separator">OR</div>

            <div id="youtubePartial">
                <div>Search in youtube</div>
                <input placeholder="Enter url or title"
                       @bind-value="@_pData.YoutubeSearch"
                       @bind-value:event="oninput" type="text" />
                <select name="number"
                        @bind-value="@_pData.YoutubeSearchType"
                        @bind-value:event="oninput">
                    <option value="video">Video</option>
                    <option value="playlist">Playlist</option>
                </select>
                <button @onclick="SearchYoutube" class="btn btn-primary">Search</button>
            </div>

            <br />
            @if (_pData.Videos != null)
            {
                <button class="btn btn-primary" @onclick="() => _pData.VideosHide = !_pData.VideosHide">@(_pData.VideosHide ? "Show videos" : "Hide videos")</button>
            }
            @if (_pData.Videos != null && !_pData.VideosHide)
            {
                <br />
                for (var i = 0; i < _pData.Videos.Count(); ++i)
                {
                    var video = _pData.Videos.ElementAt(i);
                    <div class="track-card">
                        <a href="@video.Url" class="text-decoration-none" target="_blank">
                            <img class="imgTrackCard" src="@video.ImgUrl">
                            <div class="track-card-text">@video.Title</div>
                        </a>

                        <button @onclick="() => ModifyVideo(video.Id)" class="btn modifyButton">Modify</button>
                    </div>

                }
            }
            <br />
            @if (_pData._audioFile.Created)
            {
                <div class="bottom-section">
                    <div class="audio-controls">
                        <div>
                            <button class="btn btn-primary" @onclick="ReturnToPrevious">Return to previous file</button>
                        </div>
                    </div>

                    <div class="container sample center">
                        <span>Tempo</span>
                        <IgbSlider Change=OnChangeTempo Max="2.01"
                                   Min="0"
                                   Value="_pData._settings.Tempo"
                                   Step="0.01">
                        </IgbSlider>
                        <div class="value-container">
                            <span class="slider-label">Tempo: @_pData._settings.Tempo</span>
                        </div>
                        <span>Pitch</span>
                        <IgbSlider Change=OnChangePitch Max="2.01"
                                   Min="0"
                                   Value="_pData._settings.Pitch"
                                   Step="0.01">
                        </IgbSlider>
                        <div class="value-container">
                            <span class="slider-label">Pitch: @_pData._settings.Pitch</span>
                        </div>
                        <span>Rate</span>
                        <IgbSlider Change=OnChangeRate Max="2.01"
                                   Min="0"
                                   Value="_pData._settings.Rate"
                                   Step="0.01">
                        </IgbSlider>
                        <div class="value-container">
                            <span class="slider-label">Rate: @_pData._settings.Rate</span>
                        </div>
                        <span>Volume</span>
                        <IgbSlider Change=OnChangeVolume Max="10.01"
                                   Min="0"
                                   Value="_pData._settings.Volume"
                                   Step="0.01">
                        </IgbSlider>
                        <div class="value-container">
                            <span class="slider-label">Volume: @_pData._settings.Volume</span>
                        </div>
                        <span>Quality</span>
                        <IgbSlider Change=OnChangeQuality Max="1.01"
                                   Min="0"
                                   Value="_pData._settings.Quality"
                                   Step="0.01">
                        </IgbSlider>
                        <div class="value-container">
                            <span class="slider-label">Quality: @_pData._settings.Quality</span>
                        </div>
                    </div>
                    <button class="btn btn-primary w-100" @onclick="ChangeSound">Change</button>
                </div>
            }
            <input placeholder="Enter seconds"
                   @bind-value="@_pData.MixSeconds"
                   @bind-value:event="oninput" type="number" />
            <button class="btn btn-primary" @onclick="MixTrack">Mix</button>
            @if (_pData.Tracks != null)
            {
                <button class="btn btn-primary" @onclick="() => _pData.TracksHide = !_pData.TracksHide">@(_pData.TracksHide ? "Show tracks" : "Hide tracks")</button>
            }
            @if (_pData.Tracks != null && !_pData.TracksHide)
            {
                <br />
                for (var i = 0; i < _pData.Tracks.Count(); ++i)
                {

                    var title = _pData.Tracks.ElementAt(i).Title;
                    var author = _pData.Tracks.ElementAt(i).Author;
                    var combine = title + " " + author;

                    <div class="track-card">
                        <a class="text-decoration-none">
                            <img class="imgTrackCard" src="@_pData.Tracks.ElementAt(i).ImgUrl">
                            <div class="track-card-text">@(title + '\n' + author)</div>
                        </a>

                        <button @onclick="() => ModifyTrack(combine)" class="btn modifyButton">Modify</button>
                    </div>

                }
            }

            @if (_pData.Loading)
            {
                <div class="spinnerBg">
                    <div class="spinner"></div>
                </div>
            }
        </div>
        @if (_pData._audioFiles != null)
        {
            <div class="previousFiles">
                @if (_pData._audioFiles != null && _pData._audioFiles.Any())
                {
                    <button class="btn btn-primary" @onclick="() => _pData.ViewPreviousFiles = !_pData.ViewPreviousFiles">Click to view/hide previous files</button>
                }
                @if (_pData.ViewPreviousFiles)
                {
                    <br />
                    <div>Previous Files:</div>
                    @foreach (var file in _pData._audioFiles)
                    {
                        var fileId = file.Id;
                        <div id="audioParent">
                            @file.Title
                            <br />
                            <audio class="audio-player" controls src="@file.AudioPath"></audio>
                            <div>
                                Tempo: @file.Tempo
                                Pitch: @file.Pitch
                                Rate: @file.Rate
                            </div>
                        </div>
                        <button class="btn btn-primary" @onclick="() => ReturnTo(fileId)">Return to this file</button>
                        <button class="btn btn-danger" @onclick="() => Delete(fileId)">Delete</button>
                        <br />
                    }
                    @if (_pData._audioFiles != null && _pData._audioFiles.Any())
                    {
                        <button class="btn btn-primary" @onclick="() => _pData.ViewPreviousFiles = !_pData.ViewPreviousFiles">Click to view/hide previous files</button>
                    }
                }
            </div>
        }
    </div>
</div>

@if (_pData._audioFile.Created)
{
    <AudioPlayer _pData="_pData" 
                 AudioService="AudioService" ></AudioPlayer>
}

<script>
    window.downloadFileFromFile = async (fileName, url) => {
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', fileName || 'download');
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>

@code
{
    private PageData _pData = new PageData();

    private void CloseAlert()
    {
        _pData.IsAlertMessage = false;
    }

    private async Task ModifyVideo(string id, string? imageUrl = null)
    {
        _pData.Loading = true;
        var res = await AudioService.LoadAudio(id);

        if (!res)
        {
            _pData.AlertMessage = "Something break or track is too long (max 10 min)";
            _pData.IsAlertMessage = true;
            _pData.Loading = false;
            return;
        }
        if (_pData.Videos != null && _pData.Videos.Any())
        {
            await AudioService.UpdateImageUrl(_pData.Videos.FirstOrDefault(x => x.Id == id)!.ImgUrl);
        }
        else if (imageUrl != null)
        {
            await AudioService.UpdateImageUrl(imageUrl);
        }

        await UpdateData();
    }

    private async Task ModifyTrack(string title)
    {
        _pData.Loading = true;
        var videoId = _pData.Videos!.First(f => f.Title == title).Id;
        var res = await AudioService.LoadAudio(videoId);

        if (!res)
        {
            _pData.AlertMessage = "Something break or track is too long (max 10 min)";
            _pData.IsAlertMessage = true;
            _pData.Loading = false;
            return;
        }

        await UpdateData();
    }

    private async Task ReturnToOrigin()
    {
        await AudioService.ReturnToOrigin();
        await UpdateData();
    }

    private async Task ReturnTo(int id)
    {
        await AudioService.ReturnTo(id);
        await UpdateData();
    }

    private async Task ReturnToPrevious()
    {
        await AudioService.ReturnToPrevious();
        await UpdateData();
    }

    private async Task SearchYoutube()
    {
        _pData.Loading = true;

        if (string.IsNullOrEmpty(_pData.YoutubeSearch))
        {
            _pData.AlertMessage = "Enter something to search";
            _pData.IsAlertMessage = true;
            _pData.Loading = false;
            return;
        }

        if (_pData.YoutubeSearchType == "video")
        {
            var videos = await YoutubeDownloader.GetVideosAsync(_pData.YoutubeSearch);

            _pData.Videos = videos;
        }
        else
        {
            var playlist = await YoutubeDownloader.GetPlaylistAsync(_pData.YoutubeSearch);

            _pData.Videos = playlist.Videos;
        }
        _pData.VideosHide = false;
        _pData.Loading = false;
    }

    private async Task FileInput(InputFileChangeEventArgs e)
    {
        _pData.Loading = true;
        await AudioService.FileInput(e);
        await UpdateData();
    }

    private async Task ChangeSound()
    {
        _pData.Loading = true;
        _pData._settings.Tempo = Math.Round(_pData._settings.Tempo, 2);
        _pData._settings.Pitch = Math.Round(_pData._settings.Pitch, 2);
        _pData._settings.Rate = Math.Round(_pData._settings.Rate, 2);
        _pData._settings.Volume = Math.Round(_pData._settings.Volume, 2);
        _pData._settings.Quality = Math.Round(_pData._settings.Quality, 2);
        await AudioService.ChangeSound(_pData._settings);
        await UpdateData();
    }

    private async Task MixTrack()
    {
        _pData.Loading = true;
        await AudioService.Mix(_pData.MixSeconds);
        await UpdateData();
    }

    private void OnChangeTempo(IgbNumberEventArgs e)
    {
        if (e != null)
        {
            _pData._settings.Tempo = e.Detail;
        }
    }

    private void OnChangePitch(IgbNumberEventArgs e)
    {
        if (e != null)
        {
            _pData._settings.Pitch = e.Detail;
        }
    }

    private void OnChangeRate(IgbNumberEventArgs e)
    {
        if (e != null)
        {
            _pData._settings.Rate = e.Detail;
        }
    }

    private void OnChangeVolume(IgbNumberEventArgs e)
    {
        if (e != null)
        {
            _pData._settings.Volume = (float)e.Detail;
        }
    }

    private void OnChangeQuality(IgbNumberEventArgs e)
    {
        if (e != null)
        {
            _pData._settings.Quality = (float)e.Detail;
        }
    }

    private async Task Delete(int id)
    {
        await AudioService.Delete(id);
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _pData._audioFile = await AudioService.GetCurrentFile();
        _pData._audioFiles = await AudioService.GetList();
        _pData.Loading = false;
        await InvokeAsync(StateHasChanged);
    }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
        if (Id != null && (!_pData._audioFiles!.Any(f => f.VideoId == Id)))
        {
            await ModifyVideo(Id, Url);
            NavigationManager.NavigateTo("/", true);
        }
    }
}